.right{
    display: flex;
    width: 40%;
    /* width: 100%; */
    flex-direction: column;
    opacity: 0.8;
    color: white;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    top: 10px;
    font-size: 1rem;
    right: -30px;
}

.heading{
    font-size: 1.6rem;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
}

span{
    position: relative;
    font-size: 1.15rem;
    /* bottom: -16px; */
}

@media (max-width: 768px){
    .right {
        width: 90%;
    }
    .heading{
        font-size: 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {  
    .right{
        font-size: .9rem;
        width: 80%;
        margin-left: 50px;
        right: 0px;
    }
    .heading{
        font-size: xx-large;
    }
  }