
.Typeanimation{
  white-space: pre-line;
  height: 150px;
  display: block;
  font-size: 3em;
  color: red;
  margin-left: 30px;
  position: relative;
  margin-bottom: 60px;
  z-index: -3;
}

@media (max-width: 768px) {
  .TypeAnimation {
    z-index: -3;
  }
}
